<div class="modal fade" id="faqs-login-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-faqs-login-modal-title>Accedi</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
      </div>
      <div class="modal-body" data-faqs-login-modal-body>
        Per usare questa funzionalità devi accedere.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
        <%= link_to "Accedi", login_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
