<div class="homepage-container">
  <div class="header-section">
    <h1 class="main-title">University Path Finder</h1>
  </div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarPrincipale">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sedi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Percorso</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Supporto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Profilo</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupporto">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contatti</a>
        </li>
      </ul>
    </div>
  </div>
</nav>