#map {
    height: 500px;
    width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column; /* disposizione verticale */
  height: 100vh;          /* 100% altezza finestra */
}

.section {
  flex: 1;                /* ogni sezione occupa spazio uguale */
  border: 1px solid #ccc; /* solo per vedere i bordi */
}
